<button class="btn btn-ghost gap-2 mb-4" routerLink="/teams">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
    Πίσω στη λίστα
</button>

@if (team) {
<div class="hero bg-base-200 rounded-lg overflow-hidden mb-8">
    <div class="hero-content flex-col lg:flex-row gap-8">
        <img [src]="team.profileImagePath || 'profile.jpg'" [alt]="team.name"
            class="max-w-sm rounded-lg shadow-md object-cover" />
        <div>
            <h1 class="text-5xl font-bold">{{ team.name }}</h1>
            <p class="py-6">{{ team.description }}</p>
            <div class="stats shadow">
                @if (team.createdYear) {
                <div class="stat">
                    <div class="stat-title">Έτος Ίδρυσης</div>
                    <div class="stat-value">{{ team.createdYear }}</div>
                </div>
                }

                <div class="stat">
                    <div class="stat-title">Κατάσταση</div>
                    <div class="stat-value" [ngClass]="team.isActive ? 'text-success' : 'text-error'">
                        {{ team.isActive ? 'Ενεργή' : 'Ανενεργή' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}